html,
body {
  height: 100%;
}
.introduction {
  background-image: url(../img/pizzabg.jpg);
  background-color: #cccccc;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  color: #4fd1c5;
  padding: 50px;
}
.introduction h1,
h2 {
  margin-top: 100px;
  margin-bottom: 20px;
}
.wrap {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#order-btn {
  min-width: 300px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;

  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

#order-btn::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00ffcb;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

#order-btn:hover,
#order-btn:focus {
  color: #313133;
  transform: translateY(-6px);
}

#order-btn:hover::before,
#order-btn:focus::before {
  opacity: 1;
}

#order-btn::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

#order-btn:hover::after,
#order-btn:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.col-md-4 img {
  height: 350px;
  width: 350px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 5%;
  margin-right: 16%;
  padding: 10px;
}

#overlay,
#overlay1,
#overlay2 {
  display: none;
  margin: 2px;
  margin-left: 20px;
  width: 100%;
  height: auto;
  border-style: solid 1px white;
  color: white;
  position: absolute;
  top: 20px;
  left: 35px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  padding-top: 10%;
  font-family: "Delius Swash Caps", cursive;
}
@media only screen and(max-width: 825px) {
  #overlay,
  #overlay1,
  #overlay2 {
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    padding-top: 30%;
  }
  .col-md-4 img {
    width: 400px;
    margin: 20px;
  }
  .products {
    margin-left: 10%;
    margin-right: 10%;
  }
  button {
    margin-left: 2%;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
}
@media only screen and(max-width: 755px) {
  #overlay,
  #overlay1,
  #overlay2 {
    width: 100%;
    height: 100%;
    top: 20px;
    left: 16px;
    padding-top: 30%;
  }
  .col-md-4 img {
    width: 100%;
    margin: 20px;
  }
  .products {
    margin-left: 8%;
    margin-right: 16%;
  }
  button {
    margin-left: 2%;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
}
@media only screen and(max-width: 625px) {
  #overlay,
  #overlay1,
  #overlay2 {
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    padding-top: 20%;
    font-size: 26px;
  }
  .col-md-4 img {
    width: 400px;
    margin: 20px;
  }
  .products {
    margin-left: 6%;
    margin-right: 10%;
  }
  button {
    margin-left: 2%;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  .contacts {
    width: 50%;
    margin: 20px;
  }
}
@media only screen and(max-width: 425px) {
  #overlay,
  #overlay1,
  #overlay2 {
    width: 100%;
    height: 100%;
    top: 20px;
    left: 16px;
    padding-top: 30%;
  }
  .col-md-4 img {
    width: 100%;
    margin: 20px;
  }
  .products {
    margin-left: 2%;
    margin-right: 16%;
  }
  button {
    margin-left: 2%;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 425px) {
  #overlay,
  #overlay1,
  #overlay2 {
    width: 100%;
    height: 100%;
    top: 20px;
    left: 16px;
    padding-top: 30%;
  }
  .col-md-4 img {
    width: 100%;
    margin: 20px;
  }
  .products {
    margin-left: 2%;
    margin-right: 16%;
  }
  button {
    margin-left: 2%;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  .contacts {
    margin: 2px 2px 2px 2px;
  }
}
@media only screen and (max-width: 420px) {
  [class*="col-"] {
    width: 50%;
  }
}
.order-section {
  background-image: url(../img/pizzz.jpg);
  background-position: center;
  background-size: cover;
  background-color: #cccccc;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}
.contacts {
  background-color: #b3a5a5;
  height: 50vh;
}
footer {
  text-align: center;
}
