.introduction {
  background-image: url(../img/pizzabg.jpg);
  background-color: #cccccc;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  color: #e5ff00;
  padding: 50px;
}
.introduction h1,
h2 {
  margin-top: 100px;
  margin-bottom: 20px;
}
.order {
  border-radius: 4px;
  background-color: #ff0800;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.order span {
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.order:hover span {
  padding-right: 25px;
}
.order:hover span:after {
  opacity: 1;
  right: 0;
}
.col-md-3 img {
  height: 150px;
  width: 150px;
}
.order-section {
  background-image: url(../img/pizzabg2.jpeg);
  background-position: center;
  background-size: cover;
  background-color: #cccccc;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  color: white;
}
.contacts {
  background-color: #b3a5a5;
  height: 40vh;
}
footer {
  text-align: center;
}
